.jumbotron{
  height: 450px;
  background-image: url(../img/kb.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
  padding-left: 100px;
 color:
}
.jumbotron h1{
  color: red;
}
.jumbotron h5{
  color: blue;
}
.collapse navbar-collapse{
  padding-left: 150p;
  color: red;
}
html {
    font-size: 15px;
}
.card{
  border: none;
}
