.jumbotron{
  height: 450px;
  background-image: url(../img/backgrd.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
  padding-left: 100px;
 opacity: 0.95;
}
.jumbotron h1{
  text-align: center;
  color: black;

}
.jumbotron background-image{
  opacity: 0.01;
}

.collapse navbar-collapse{
  padding-left: 150p;
  color: red;
}
html {
    font-size: 15px;
}
<<<<<<< HEAD
.card{
  border: none;
}
=======
.col-md-4 {
    border-right: 2px solid grey;
}


#developers {
       cursor: pointer;
       color: green;
     }

 #developers:hover {
       text-decoration: underline;
     }
>>>>>>> 37c910197f202dfe83f7f3d13b1a46e5b728556f
